<div class="jumbotron text-center">
  <div>
    <h1>Tell us about you!</h1>
  </div>
  <div>
    <p>Login to write up your story</p>
    <a href="/login" class="btn btn-primary">Sign In</a>
  </div>
</div>

<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Write your story
        </div>
      </div>
      <div class="panel panel-success">
        <div class="panel-heading">Your stories</div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    lala
  </div>
</div>
