<%- include('layouts/header'); %>
<form method="post" action="/contact-us/send">
  <h1><%= title %></h1>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Enter your name" class="form-control">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" name="email" placeholder="Enter your email" class="form-control">
  </div>
  <div class="form-group">
    <label for="message">Message</label>
    <textarea name="message" placeholder="Type your message..." class="form-control"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<%- include('layouts/footer'); %>
