body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
html,
body {
  height: 100%;
  padding: 0px;
  posiion: relative;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0px 0px -60px 0px;
  padding: 50px 15px 50px 15px;
  overflow: scroll;
}
#footer {
  position: absolute;
  bottom: 0px;
  min-height: 40px;
  width: 100%;
  background-color: gray;
}
.navbar-custom {
  background-color: #4eb5f7 !important;
}
.navbar-custom a,
.navbar-custom p {
  color: #ffffff !important;
}
.navbar-custom .navbar-brand img {
  height: 70px;
  position: relative;
  top: -20px;
}
