<%- include('../layouts/header'); %>

<h1><%= title %></h1>
<h2>Hi my name is <%- name %></h2>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus modi ducimus quibusdam autem accusamus voluptatibus, dolorem, cumque fuga iure, provident perspiciatis. Nihil eaque placeat ex, ipsa quis, labore praesentium qui!</div>
<div>Pariatur doloribus eos ab aliquam laboriosam vero quo ad excepturi deleniti asperiores blanditiis dolorum, at, sapiente quas labore dolore velit in odio ex culpa eius. Non nulla, ex optio eveniet!</div>
<div>Soluta hic, laudantium quisquam aut facilis officiis omnis, adipisci possimus voluptatem esse ullam maiores. Fugiat corporis deserunt quibusdam temporibus, est asperiores pariatur illum tempora quam cum, iste delectus sunt distinctio.</div>
<div>Deserunt quisquam, necessitatibus architecto accusantium, nam aliquam quam minus nisi laborum eum culpa praesentium tempora hic incidunt iste non? Hic fugiat, ipsam voluptate, dolor aliquid rem neque veniam repudiandae sapiente?</div>
<div>Porro molestiae excepturi, in deleniti quisquam vel rerum distinctio amet officia cumque nam fugit velit, ipsa, nobis inventore! Rem assumenda, sapiente incidunt ipsum delectus sit officia, dolorem inventore vitae. Distinctio.</div>
<div>Est sint temporibus accusamus cum, distinctio nam architecto, asperiores repudiandae tempore repellendus amet quis. Fugit odio iure quidem ea tenetur perferendis eveniet velit facere quaerat deserunt, adipisci, magni, delectus quasi.</div>
<div>Nemo suscipit tempora dolores, aspernatur quas nobis quod dolor, omnis hic recusandae soluta incidunt dicta labore. Cum nesciunt delectus, non amet corporis sit sapiente excepturi maxime unde, repudiandae quod hic.</div>
<div>Nam laboriosam cupiditate corporis animi officia ullam reprehenderit ratione veritatis, fuga mollitia voluptates delectus, praesentium. Dignissimos voluptatem, enim obcaecati praesentium odit ipsam pariatur ex a doloribus eos adipisci iure illo?</div>

<%- include('../layouts/footer'); %>
