<%- include('../layouts/header'); %>

<h1>Sign up</h1>
<div class="errors">
  <%= errors %>
</div>
<form method="post" action="register" enctype="multipart/form-data">
  <div class="form-group">
    <label for="userName">Username:</label>
    <input type="text" class="form-control" name="username" placeholder="Username" required>
  </div>
  <div class="form-group">
    <label for="pass">Password:</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="pass2">Confirm password:</label>
    <input type="password" class="form-control" name="password2" placeholder="Confirm password">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" name="email" placeholder="Email" required>
  </div>
  <div class="form-group">
    <label for="profilImg">Profile image</label>
    <input type="file" class="form-control" name="profilImg">
  </div>
  <input type="submit" class="btn btn-default" value="submit">
</form>

<%- include('../layouts/footer'); %>
