<%- include('../layouts/header'); %>

<h1>Sign in</h1>
<form method="post" action="sign-in">
  <div class="form-group">
    <label for="userName">Username:</label>
    <input type="text" class="form-control" name="username" placeholder="Username" required>
  </div>
  <div class="form-group">
    <label for="pass">Password:</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <input type="submit" class="btn btn-default" value="submit">
  <span style="float: right;">Not a member? <a href="/users/register">Click here to register</a></span>
</form>

<%- include('../layouts/footer'); %>
